/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2017
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

.layout-manager {
  font-family: Helvetica Neue for IBM, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-weight: 300;
  .react-grid-layout {
    position: relative;
    transition: height 200ms ease;
    background-color: #f9f9fb;
    .react-grid-item {
      transition: all 200ms ease;
      transition-property: left, top;
      background-color: #fff;
      border: 1px solid #aeaeae;
      box-shadow: 3px 3px 3px #aeaeae;
      padding: 10px 20px;
      overflow: hidden;
      line-height: normal;
      &.center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.cssTransforms {
        transition-property: transform;
      }
      &.resizing {
        z-index: 5000;
        will-change: width, height;
      }
      &.react-draggable-dragging {
        transition: none;
        z-index: 5003;
        will-change: transform;
      }
    }
  }
}
