//Licensed Materials - Property of IBM
//5724-Q36
//(c) Copyright IBM Corp. 2017
//US Government Users Restricted Rights - Use, duplication or disclosure
//restricted by GSA ADP Schedule Contract with IBM Corp.


.search-field-container {
  position: relative;
  width: 100%;

  input {
    padding-left: 28px;
  }
  .icon {
    position: absolute;
    top: 8px;
  }
}
.search-field-container-no-icon {
  width: 100%;
}